<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-8 px-0">
            <h3 class="table-title">
                Danh sách Widget
            </h3>
        </div>
        <div class="col-4 px-0 text-right">
            <div class="btn-group text-white">
                <a title="Thêm" class="btn btn-md u-btn-pink px-1 pt-0 pb-0" data-toggle="dropdown"><i class="hs-admin-plus"></i> Thêm Widget</a>
                <ul class="dropdown-menu inner pull-right" role="menu">
                    <li ng-repeat="widget in vm.widgets">
                        <a class="dropdown-item" ui-sref="{{widget.createUrl}}">{{widget.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getUsers" st-table="vm.users">
            <thead>
                <tr>
                    <th style="min-width:250px">Tên</th>
                    <th style="min-width:200px">Loại</th>
                    <th style="min-width:200px">Vùng</th>
                    <th style="min-width:180px">Bắt đầu phát hành</th>
                    <th style="min-width:180px">Kết thúc phát hành</th>
                    <th class="text-center" style="min-width:100px">Thứ tự hiển thị</th>
                    <th class="text-center" style="min-width: 80px; max-width: 80px">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instance in vm.widgetInstances">
                    <td>{{instance.name}}</td>
                    <td>{{instance.widgetType}}</td>
                    <td>{{instance.widgetZone}}</td>
                    <td>{{instance.publishStart | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{instance.publishEnd | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td class="text-center">{{instance.displayOrder}}</td>
                    <td class="text-center">
                        <a ui-sref="{{instance.editUrl}}({id: instance.id})" class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" title="Sửa">
                            <i class="hs-admin-pencil"></i>
                        </a>
                        <a ng-click="vm.deleteWidgetInstance(instance)" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12" title="Xóa">
                            <i class="hs-admin-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
