<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-8 px-0">
            <h3 class="table-title">
                Giá sản phẩm
            </h3>
        </div>
        <div class="col-4 px-0 text-right">
            <a ng-click="vm.save()" style="color: white;" title="Thêm" class="btn btn-md u-btn-pink px-1 pt-0 pb-0"><i class="hs-admin-save"></i> Lưu</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getProducts" st-table="vm.products">
            <thead>
                <tr>
                    <th style="min-width:250px">Tên sản phẩm</th>
                    <th style="min-width:130px">SKU</th>
                    <th style="min-width:120px" class="text-right">Giá hiện tại</th>
                    <th style="min-width:120px" class="text-right">Giá cũ</th>
                    <th style="min-width:120px" class="text-right">Giá đặc biệt</th>
                    <th style="min-width:120px" class="text-right">Bắt đầu</th>
                    <th style="min-width:120px" class="text-right">Kết thúc</th>
                    <th style="min-width:120px" class="text-right">Giá mới</th>
                    <th style="min-width:120px" class="text-right">Giá cũ mới</th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <input class="form-control" st-search="ProductName" />
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <input class="form-control" st-search="ProductSku" />
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="!vm.isLoading">
                <tr ng-repeat="item in vm.products">
                    <td><a ui-sref="product-edit({id: item.id})">{{item.name}}</a></td>
                    <td>{{item.sku}}</td>
                    <td class="text-right">{{item.price | number}}</td>
                    <td class="text-right">{{(item.oldPrice | number) || '-'}}</td>
                    <td class="text-right">{{(item.specialPrice | number) || '-'}}</td>
                    <td class="text-right">{{(item.specialPriceStart | date:'dd/MM/yyyy') || '-'}}</td>
                    <td class="text-right">{{(item.specialPriceEnd | date:'dd/MM/yyyy') || '-'}}</td>
                    <td>
                        <div class="input-number">
                            <input id="newPrice_{{item.id}}" type="text" decimal maxlength="10" name="newPrice" ng-model="item.newPrice" class="form-control" />
                            <!--<label class="form-control" for="newPrice_{{item.id}}">{{item.newPrice | number}}</label>-->
                        </div>
                    </td>
                    <td>
                        <div class="input-number">
                            <input id="newOldPrice_{{item.id}}" type="text" decimal maxlength="10" name="newOldPrice" ng-model="item.newOldPrice" class="form-control" />
                            <!--<label class="form-control" for="newOldPrice_{{item.id}}">{{item.newOldPrice | number}}</label>-->
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="vm.isLoading">
                <tr>
                    <td colspan="9" class="text-center">Đang tải ... </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="9"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
