<div class="page-header mx-3">
    <div class="row">
        <div class="col-12">
            <h2 class="table-title">Chi tiết vận đơn: #{{vm.shipment.id}}</h2>
        </div>
    </div>
</div>
<div class="panel panel-default order-panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Thông tin vận đơn</h5>
                <table class="table">
                    <tr>
                        <td>Ngày tạo</td>
                        <td>{{vm.shipment.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
                    </tr>
                    <tr>
                        <td>Số theo dõi</td>
                        <td>{{vm.shipment.trackingNumber}}</td>
                    </tr>
                    <tr>
                        <td>Kho</td>
                        <td>{{vm.shipment.warehouseName}}</td>
                    </tr>
                    <tr>
                        <td>Mã đơn hàng</td>
                        <td><a ui-sref="order-detail({id: vm.shipment.orderId})" title="View"># {{vm.shipment.orderId}}</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Địa chỉ</h5>
                <p>
                    {{vm.shipment.shippingAddress.contactName}} <br />
                    {{vm.shipment.shippingAddress.addressLine1}} <br />
                    {{vm.shipment.shippingAddress.districtName}}, {{vm.shipment.shippingAddress.stateOrProvinceName}} <br />
                    Số điện thoại: {{vm.shipment.shippingAddress.phone}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin sản phẩm</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped order-item-list">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>SKU</th>
                    <th class="text-right">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.shipment.items">
                    <td>
                        <a ui-sref="product-edit({id: item.productId})">{{item.productName}}</a>
                        <ul ng-if="item.variationOptions.length > 0" class="list-unstyled">
                            <li ng-repeat="opt in item.variationOptions">
                                <span>{{opt.optionName}}:</span> {{opt.value}}
                            </li>
                        </ul>
                    </td>
                    <td>{{item.productSku}}</td>
                    <td class="text-right">{{item.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <button style="margin-left: 20px; margin-bottom: 40px;" ui-sref="shipments" class="btn btn-default">Danh sách vận đơn</button>
</div>
