<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-8 px-0">
            <h3 class="table-title">
                Quốc gia ({{vm.tableStateRef.pagination.totalItemCount | number:0}})
            </h3>
        </div>
        <div class="col-4 px-0 text-right">
            <a ui-sref="country-create" title="Thêm" class="btn btn-md u-btn-pink px-1 pt-0 pb-0"><i class="hs-admin-plus"></i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getCountries" st-table="vm.users">
            <thead>
                <tr>
                    <th style="min-width:400px" st-sort="Name" class="sortable">Tên quốc gia</th>
                    <th st-sort="IsShippingEnabled" class="sortable text-center" st-sort-default="reverse">Vận chuyển</th>
                    <th st-sort="IsBillingEnabled" class="sortable text-center">Hóa đơn</th>
                    <th st-sort="IsBillingEnabled" class="sortable text-center">Hiển thị tỉnh</th>
                    <th st-sort="IsBillingEnabled" class="sortable text-center">Hiển thị mã bưu chính</th>
                    <th st-sort="IsBillingEnabled" class="sortable text-center">Hiển thị huyện</th>
                    <th class="text-center" style="min-width: 80px; max-width: 80px">Tùy chọn</th>
                </tr>
            </thead>
            <tbody ng-show="!vm.isLoading">
                <tr ng-repeat="country in vm.countries">
                    <td>{{country.name}}</td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="country.isShippingEnabled" ng-click="vm.update(country)">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="country.isBillingEnabled" ng-click="vm.update(country)">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="country.isCityEnabled" ng-click="vm.update(country)">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="country.isZipCodeEnabled" ng-click="vm.update(country)">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" ng-model="country.isDistrictEnabled" ng-click="vm.update(country)">
                    </td>
                    <td class="text-center">
                        <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" ui-sref="country-edit({id: country.id})" title="Sửa">
                            <i class="hs-admin-pencil"></i>
                        </a>
                        <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12" title="Xóa" ng-click="vm.deleteCountry(country)">
                            <i class="hs-admin-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tbody ng-show="vm.isLoading">
                <tr>
                    <td colspan="7" class="text-center">Loading ... </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="7"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
