<div class="page-header mx-3">
    <div class="row">
        <div class="col-8">
            <h2 class="table-title">Chi tiết đơn hàng: #{{vm.order.id}}</h2>
        </div>
        <div class="col-4 text-right mt-0">
            <a href="/api/invoices/print/{{vm.order.id}}" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-download-alt"></span> Tải hóa đơn</a>
        </div>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Đơn hàng và thông tin khách hàng</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Order #{{vm.order.id}}</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Ngày đặt hàng</td>
                        <td>{{vm.order.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>{{vm.order.orderStatusString}}</td>
                    </tr>
                    <tr>
                        <td>Tổng giá trị</td>
                        <td>{{vm.order.orderTotalString}}</td>
                    </tr>
                    <tr ng-if="vm.order.isMasterOrder">
                        <td>Giá trị</td>
                        <td>
                            <ul class="list-inline">
                                <li ng-repeat="id in vm.order.subOrderIds">
                                    <a ui-sref="order-detail({id: id})">order #{{id}}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h5>Thông tin khách hàng</h5>
                <table class="table table-striped">
                    <tr>
                        <td>Tên khách hàng</td>
                        <td><a ui-sref="user-edit({id: vm.order.customerId})">{{vm.order.customerName}}</a></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{vm.order.customerEmail}}</td>
                    </tr>
                    <tr>
                        <td>Nhóm khách hàng</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin địa chỉ</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Địa chỉ trên hóa đơn</h5>
            </div>
            <div class="col-md-6">
                <h5>Địa chỉ nhận hàng</h5>
                <p>
                    <strong>{{vm.order.shippingAddress.contactName}}</strong> <br />
                    {{vm.order.shippingAddress.addressLine1}} <br />
                    {{vm.order.shippingAddress.addressLine2}} <br />
                    Phone: {{vm.order.shippingAddress.phone}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin sản phẩm</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped order-item-list">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th class="text-right">Giá</th>
                    <th class="text-right">Số lượng</th>
                    <th class="text-right">Tổng số</th>
                    <th class="text-right">Giá trị thuế (đ)</th>
                    <th class="text-right">Giá trị thuế (%)</th>
                    <th class="text-right">Chiết khấu</th>
                    <th class="text-right">Tổng</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.order.orderItems">
                    <td>
                        <a ui-sref="product-edit({id: item.productId})">{{item.productName}}</a>
                        <ul ng-if="item.variationOptions.length > 0" class="list-unstyled">
                            <li ng-repeat="opt in item.variationOptions">
                                <span>{{opt.optionName}}:</span> {{opt.value}}
                            </li>
                        </ul>
                    </td>
                    <td class="text-right">{{item.productPriceString}}</td>
                    <td class="text-right">
                        Đã đặt {{item.quantity}}<span ng-if="item.shippedQuantity"><br />Đã chuyển {{item.shippedQuantity}}</span>
                    </td>
                    <td class="text-right">{{item.totalString}}</td>
                    <td class="text-right">{{item.taxAmountString}}</td>
                    <td class="text-right">{{item.taxPercent}}</td>
                    <td class="text-right">{{item.discountAmountString}}</td>
                    <td class="text-right">{{item.rowTotalString}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Ghi chú của đơn hàng</h3>
    </div>
    <div class="panel-body">
        {{vm.order.orderNote}}
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Vận chuyển và thanh toán</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Thanh toán: {{vm.order.paymentMethod}}</h5>
                <payment-list-by-order order-id="vm.orderId"></payment-list-by-order>
            </div>
            <div class="col-md-6">
                <h5>Vận chuyển: {{vm.order.shippingMethod}}</h5>
                <shipment-list-by-order order-id="vm.orderId"></shipment-list-by-order>
                <div class="text-right"><button class="btn btn-default" ui-sref="shipment-create({orderId: vm.order.id})">Thêm</button></div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default order-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Tổng hợp</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <h5>Lịch sử và tùy chọn</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ngày</th>
                            <th>Trạng thái</th>
                            <th>Sửa bởi</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.orderHistories">
                            <td>{{item.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
                            <td><span ng-if="item.oldStatus">{{item.oldStatus}} &rarr; </span>{{item.newStatus}}</td>
                            <td>
                                <a ng-if="item.createdById >= 10" ui-sref="user-edit({id: item.createdById})">{{item.createdByFullName}}</a>
                                <span ng-if="item.createdById < 10">{{item.createdByFullName}}</span>
                            </td>
                            <td>{{item.note}}</td>
                        </tr>
                    </tbody>
                </table>
                <form name="orderStatusForm" class="form-horizontal">
                    <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                        <ul>
                            <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái đơn hàng</label>
                        <div>
                            <select class="form-control" ng-model="vm.order.orderStatus" ng-options="s.id as s.name for s in vm.orderStatus"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ghi chú</label>
                        <div>
                            <textarea name="description" ng-model="vm.orderStatusNote" rows="3" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-primary" ng-click="vm.changeOrderStatus()">Lưu lại</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <td>Giá trị</td>
                        <td class="text-right">{{vm.order.subtotalString}}</td>
                    </tr>
                    <tr>
                        <td>Vận chuyển</td>
                        <td class="text-right">{{vm.order.shippingAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Thuế</td>
                        <td class="text-right">{{vm.order.taxAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Chiết khấu</td>
                        <td class="text-right">{{vm.order.discountAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Phí mua hàng</td>
                        <td class="text-right">{{vm.order.paymentFeeAmountString}}</td>
                    </tr>
                    <tr>
                        <td>Tổng giá trị</td>
                        <td class="text-right"><strong>{{vm.order.orderTotalString}}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <button style="margin-left: 20px; margin-bottom: 40px;" ui-sref="order" class="btn btn-default">Quay về</button>
</div>
