<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-12 px-0">
            <h3 class="table-title">
                Liên lạc
            </h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getContacts" st-table="vm.contacts">
            <thead>
                <tr>
                    <th style="min-width:400px" class="sortable text-center" st-sort="FullName">Khách hàng</th>
                    <th style="min-width:200px; max-width:200px;" class="col-md-2 text-center">Khu vực liên lạc</th>
                    <th style="min-width:400px; max-width:200px;" class="col-md-5 text-center">Nội dung</th>
                    <th style="min-width:130px" class="sortable col-md-2 text-center" t-sort="CreatedOn">Tạo lúc</th>
                    <th style="min-width:80px; max-width:80px;" class="col-md-1 text-center">Tùy chọn</th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <input class="form-control" st-search="FullName" placeholder="Tìm kiếm theo tên ..." />
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <select class="form-control" st-search="ContactAreaId">
                                <option value="">Tất cả</option>
                                <option ng-repeat="item in vm.contactAreas" value="{{item.id}}">
                                    {{item.name}}
                                </option>
                            </select>
                        </div>
                    </th>
                    <th></th>
                    <th><!--<st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range>--></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="!vm.isLoading">
                <tr ng-repeat="contact in vm.contacts">
                    <td>{{contact.fullName}}</td>
                    <td>{{contact.contactArea}}</td>
                    <td>{{contact.content | limitTo: 50}}...</td>
                    <td>{{contact.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td class="text-center">
                        <a ui-sref="contact-preview({id: contact.id})" class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" title="Sửa">
                            <i class="hs-admin-pencil"></i>
                        </a>
                        <a ng-click="vm.deleteContact(contact)" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12" title="Xóa">
                            <i class="hs-admin-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="3"></td>
                    <td colspan="1">Tìm thấy {{vm.tableStateRef.pagination.totalItemCount || '0'}} kết quả</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
