<div class="page-header">
    <div class="row">
        <div class="col-md-8">
            <h2>Giao diện sẵn có</h2>
        </div>
    </div>
</div>

<div class="row">
    <div ng-repeat="theme in vm.themes" class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img style="width:200px; height: 200px;" alt="{{theme.displayName}}" ng-src="{{theme.thumbnailUrl}}">
            <div class="caption">
                <h4>{{theme.displayName}}</h4>
                <p ng-hide="theme.isCurrent">
                    <button class="btn btn-default" role="button" ng-click="vm.useTheme(theme)">Sử dụng</button>
                    <button ng-hide="theme.name === vm.previewingTheme" class="btn btn-default" role="button" ng-click="vm.previewTheme(theme)">Xem trước</button>
                    <button ng-show="theme.name === vm.previewingTheme" class="btn btn-primary" role="button" ng-click="vm.cancelPreviewTheme(theme)">Hủy xem</button>
                    <button ng-if="theme.name !== 'Generic'" class="btn btn-default" role="button" ng-click="vm.downloadTheme(theme)">Tải về</button>
                    <button ng-if="theme.name !== 'Generic'" class="btn btn-default" role="button" ng-click="vm.deleteTheme(theme)">Xóa</button>
                </p>
                <p ng-show="theme.isCurrent">
                    <button type="button" disabled="disabled" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Hiện tại
                    </button>
                    <button ng-if="theme.name !== 'Generic'" class="btn btn-default" role="button" ng-click="vm.downloadTheme(theme)">Tải về</button>
                </p>

            </div>
         </div>
    </div>
</div>
