@{
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Đơn hàng mới nhất</h3>
            </div>
            <div class="panel-body">
                <order-widget status="0" num-records="5"></order-widget>
            </div>
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Phản hồi đang chờ</h3>
            </div>
            <div class="panel-body">
                <review-widget status="1" num-records="5"></review-widget>
            </div>
        </div>
    </div>
    }
</div>
@if (User.IsInRole("admin"))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Phản hồi chờ trả lời</h3>
            </div>
            <div class="panel-body">
                <review-reply-widget status="1" num-records="5"></review-reply-widget>
            </div>
        </div>
    </div>
</div>
}
@if (User.IsInRole("admin"))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Từ khóa tìm kiếm nhiều nhất</h3>
            </div>
            <div class="panel-body">
                <most-search-keyword></most-search-keyword>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sản phẩm xem nhiều nhất</h3>
            </div>
            <div class="panel-body">
                <most-viewed-products></most-viewed-products>
            </div>
        </div>
    </div>
</div>
}
