<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-8 px-0">
            <h3 class="table-title">
                Dịch vụ vận chuyển
            </h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getUsers" st-table="vm.users">
            <thead>
                <tr>
                    <th style="min-width:400px">Tên dịch vụ</th>
                    <th class="text-center" style="min-width:200px">Cho phép</th>
                    <th class="text-center" style="min-width: 80px; max-width: 80px">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="provider in vm.shippingProviders">
                    <td>{{provider.name}}</td>
                    <td class="text-center"><i ng-attr-class="{{provider.isEnabled && 'hs-admin-check' || 'hs-admin-check-o'}}"></i></td>
                    <td class="text-center">
                        <a ng-click="vm.updateProviderStatus(provider)" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" title="{{provider.isEnabled && 'Ẩn' || 'Hiện'}}">
                            <i ng-attr-class="{{provider.isEnabled && 'hs-admin-control-stop' || 'hs-admin-control-play'}}"></i>
                        </a>
                        <a ng-if="provider.configureUrl" ui-sref="{{provider.configureUrl}}" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-12" title="Cài đặt">
                            <i class="hs-admin-settings"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
