<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-12 px-0">
            <h3 class="table-title">
                Trả lời phản hồi
            </h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getReplies" st-table="vm.replies">
            <thead>
                <tr>
                    <th style="min-width:200px">Khách hàng</th>
                    <th style="min-width:200px">Sản phẩm</th>
                    <th>Tiêu đề</th>
                    <th>Bình luận</th>
                    <th st-sort="CreatedOn" class="sortable">Tạo lúc</th>
                    <th>Trạng thái</th>
                    <th class="text-center" style="min-width: 80px; max-width: 80px">Tùy chọn</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" st-search="EntityName" placeholder="Tìm theo tên sản phẩm ..." /></th>
                    <th></th>
                    <th></th>
                    <th><!--<st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range>--></th>
                    <th>
                        <div class="form-group">
                            <select class="form-control" st-search="Status">
                                <option value="">Tất cả</option>
                                <option value="1">Đang chờ</option>
                                <option value="5">Đã phê duyệt</option>
                                <option value="8">Từ chối</option>
                            </select>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-show="!vm.isLoading">
                <tr ng-repeat="reply in vm.replies">
                    <td>{{reply.replierName}}</td>
                    <td><a href="/{{reply.entitySlug}}">{{reply.entityName}}</a></td>
                    <td>{{reply.reviewTitle}}</td>
                    <td>{{reply.comment}}</td>
                    <td>{{reply.createdOn | date:'dd/MM/yyyy hh:mm'}}</td>
                    <td>{{reply.status }}</td>
                    <td><button ng-if="reply.status ==='Pending'" title="Phê duyệt" ng-click="vm.approve(reply)" class="btn btn-primary btn-xs">Phê duyệt</button></td>
                </tr>
            </tbody>
            <tbody ng-show="vm.isLoading">
                <tr>
                    <td colspan="8" class="text-center">Đang tải ... </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="8"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
