<div class="panel panel-default">
    <div class="panel-heading">
        <h2 ng-if="!vm.isEditMode">Thêm quy tắc theo giá giỏ hàng</h2>
        <h2 ng-if="vm.isEditMode">Cập nhật quy tắc giá giỏ hàng</h2>
    </div>
    <div class="panel-body">
        <form name="cartRuleForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <uib-tabset>
                <uib-tab index="0" heading="Thông tin chung">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên *</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="vm.cartRule.name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea name="description" ng-model="vm.cartRule.description" rows="3" class="form-control" />
                        </div>
                    </div>
                    <div ng-show="false" class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.cartRule.isCouponRequired">Yêu cầu mã giảm giá
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.cartRule.isCouponRequired" class="form-group">
                        <label class="col-sm-2 control-label">Mã giảm giá *</label>
                        <div class="col-sm-10">
                            <input name="couponCode" ng-model="vm.cartRule.couponCode" class="form-control" />
                        </div>
                    </div>
                    <div ng-show="vm.cartRule.isCouponRequired" class="form-group">
                        <label class="col-sm-2 control-label">Giới hạn theo mã giảm giá</label>
                        <div class="col-sm-10">
                            <input name="usageLimitPerCoupon" ng-model="vm.cartRule.usageLimitPerCoupon" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giói hạn theo khách hàng</label>
                        <div class="col-sm-10">
                            <input name="usageLimitPerCustomer" ng-model="vm.cartRule.usageLimitPerCustomer" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bắt đầu</label>
                        <div class="col-sm-10">
                            <p class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="vm.cartRule.startOn" is-open="vm.datePickerStartOn.open" datepicker-options="vm.datePickerStartOn.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerStartOn')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kết thúc</label>
                        <div class="col-sm-10">
                            <p class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="vm.cartRule.endOn" is-open="vm.datePickerEndOn.open" datepicker-options="vm.datePickerEndOn.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerEndOn')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Áp dụng *</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.cartRule.ruleToApply">
                                <option value="cart_fixed">Giảm cho toàn bộ giỏ hàng</option>
                                <option value="by_percent">Giảm theo phần trăm</option>
                                <!--<option value="buy_x_get_y">Buy X Get Y Free (discount amount is Y)</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số tiền chiết khấu *</label>
                        <div class="col-sm-10">
                            <input name="discountAmount" ng-model="vm.cartRule.discountAmount" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Số tiền chiết khấu tối đa</label>
                        <div class="col-sm-10">
                            <input name="maxDiscountAmount" ng-model="vm.cartRule.maxDiscountAmount" class="form-control" />
                        </div>
                    </div>
                    <div ng-show="vm.cartRule.ruleToApply == 'buy_x_get_y'" class="form-group">
                        <label class="col-sm-2 control-label">{{::vm.translate.get('Discount Step (Buy X)')}}</label>
                        <div class="col-sm-10">
                            <input name="discountStep" ng-model="vm.cartRule.discountStep" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.cartRule.isActive">Đang hoạt động
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Chọn sản phẩm">
                    <p>Lựa chọn sản phẩm áp dụng. Nếu để trống quy tắc sẽ được áp dụng cho toàn bộ sản phẩm</p>
                    <product-selection-directive model-id="productsSelector" title="Thêm sản phẩm" selected-products="vm.cartRule.products"></product-selection-directive>
                    <p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#productsSelector">Lựa chọn sản phẩm</button></p>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên</th>
                            <th class="text-center">Đang hiển thị</th>
                        </tr>
                        <tr ng-repeat="product in vm.cartRule.products">
                            <td>{{product.name}}</td>
                            <td class="text-center"><i ng-attr-class="{{product.isPublished && 'hs-admin-check' || 'hs-admin-check-o'}}"></i></td>
                        </tr>
                    </table>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-click="vm.save()">Lưu lại</button>
                    <button ui-sref="cart-rules" class="btn btn-default">Hủy bỏ</button>
                </div>
            </div>
        </form>
    </div>
</div>
