@using System.Globalization
@using System.IO
@using Microsoft.Extensions.Configuration
@using Newtonsoft.Json
@using SimplCommerce.Infrastructure
@using SimplCommerce.Infrastructure.Data
@using SimplCommerce.Infrastructure.Localization
@using SimplCommerce.Module.Core.Extensions

@inject IWorkContext WorkContext
@inject IConfiguration Config
@inject IRepositoryWithTypedId<Culture, string> CultureRepository

@{ Layout = null;
    var assetBundling = Config.GetValue<bool>("Global.AssetBundling");
    var defaultCulture = Config.GetValue<string>("Global.DefaultCultureAdminUI") ?? Config.GetValue<string>("Global.DefaultCultureUI");
    var cultures = CultureRepository.Query().Where(x => x.Id != defaultCulture).Select(x => $"\"{x.Id}\"").ToArray(); }

<!DOCTYPE html>
<html ng-app="simplAdmin" lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang quản trị</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/admin-assets/vendor/hs-admin-icons/hs-admin-icons.css">
    <link rel="stylesheet" href="~/assets/vendor/animate.css">
    <link rel="stylesheet" href="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/admin-assets/vendor/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/admin-assets/vendor/chartist-js/chartist.min.css">
    <link rel="stylesheet" href="~/admin-assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css">

    <link rel="stylesheet" href="~/assets/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/assets/vendor/hamburgers/hamburgers.min.css">

    <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
    <link rel="stylesheet" href="~/lib/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/summernote/summernote.css" />
    <link rel="stylesheet" href="~/lib/angular-ui-tree/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="~/lib/angular-bootstrap-colorpicker/css/colorpicker.min.css" />
    <link rel="stylesheet" href="~/_content/SimplCommerce.Module.Core/admin/admin-core.css" />
    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/admin-assets/css/unify-admin.css">
    <link rel="stylesheet" href="~/admin-assets/css/custom.css">

    <script>
        window.Global_AssetVersion = "@Config["Global.AssetVersion"]";
        window.Global_EnableCultures = [@Html.Raw(string.Join(",", cultures))];
    </script>
    <script src="~/lib/jquery/jquery.js"></script>
    @*<script src="~/lib/jquery/jquery-migrate-3.3.0.min.js"></script>*@
    <script src="~/lib/summernote/summernote.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-smart-table/dist/smart-table.js"></script>
    <script src="~/lib/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/bootstrap-ui-datetime-picker/datetime-picker.js"></script>
    <script src="~/lib/bootstrap-ui-datetime-picker/datetime-picker.tpls.js"></script>
    <script src="~/lib/angular-summernote/angular-summernote.js"></script>
    <script src="~/lib/angular-ui-tree/angular-ui-tree.js"></script>
    <script src="~/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/lib/i18n/angular-locale_@(CultureInfo.CurrentCulture.Name.ToLower()).js"></script>

    <script src="~/_content/SimplCommerce.Module.Core/admin/common/slugify.js"></script>
    <script>
        angular.module('simplAdmin', [
            'ui.router',
            'ngMaterial',
            'ngMessages',
            'smart-table',
            'ngFileUpload',
            'ui.bootstrap',
            'ui.bootstrap.datetimepicker',
            'ui.tree',
            'summernote',
            'colorpicker.module',
            'simplAdmin.common',

            @foreach(var angularModule in GlobalConfiguration.AngularModules)
            {
                <text>'@angularModule',</text>
            }
            'simplAdmin.dashboard'
        ]);
    </script>
    <script src="~/_content/SimplCommerce.Module.Core/admin/admin-app-config.js"></script>
    <script src="~/_content/SimplCommerce.Module.Core/admin/common/common.js"></script>
    <script src="~/_content/SimplCommerce.Module.Core/admin/common/summernote-service.js"></script>
    <script src="~/_content/SimplCommerce.Module.Core/admin/common/st-date-range.js"></script>
    <script src="~/_content/SimplCommerce.Module.Core/admin/common/translation-service.js"></script>

    <script src="~/_content/SimplCommerce.Module.Core/admin/dashboard/dashboard.module.js"></script>

    @foreach (var module in GlobalConfiguration.Modules)
    {

        var resourceStream = module.Assembly.GetManifestResourceStream($"{module.Id}.bundleconfig.json");
        if (resourceStream == null)
        {
            continue;
        }

        using (var reader = new StreamReader(resourceStream))
        {
            string content = reader.ReadToEnd();
            dynamic bundleConfigs = JsonConvert.DeserializeObject(content);
            foreach (var configItems in bundleConfigs)
            {
                string outputFileName = configItems.outputFileName;
                if (outputFileName.Contains("admin") && outputFileName.EndsWith(".js"))
                {
                    if (assetBundling)
                    {
                        <script src="~/_content/@module.Id/@outputFileName.Replace("wwwroot/", "")"></script>
                    }
                    else
                    {
                        foreach (string inputFile in configItems.inputFiles)
                        {
                            <script src="~/_content/@module.Id/@inputFile.Replace("wwwroot/", "")"></script>
                        }
                    }
                }
            }
        }
    }
</head>
<body class="has-fixed-sidebar">
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top">
        <div class="u-header__section u-header__section--admin-dark g-min-height-65">
            <nav class="navbar no-gutters g-pa-0">
                <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                    <!-- Logo -->
                    <a href="/" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">

                        <svg class="u-header-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-78.000000, -19.000000)">
                                    <g transform="translate(78.000000, 19.000000)">
                                        <path class="g-fill-primary" d="M0,0 L19.2941176,0 L19.2941176,0 C23.7123956,-8.11624501e-16 27.2941176,3.581722 27.2941176,8 L27.2941176,27.2941176 L8,27.2941176 L8,27.2941176 C3.581722,27.2941176 5.41083001e-16,23.7123956 0,19.2941176 L0,0 Z"></path>
                                        <path class="g-fill-white" d="M21.036662,24.8752523 L20.5338647,22.6659916 L20.3510293,22.6659916 C19.8533083,23.4481246 19.1448284,24.0626484 18.2255681,24.5095816 C17.3063079,24.9565147 16.2575544,25.1799779 15.0792761,25.1799779 C13.0376043,25.1799779 11.5139914,24.672107 10.5083918,23.6563498 C9.50279224,22.6405927 9,21.1017437 9,19.0397567 L9,8.02392554 L12.6109986,8.02392554 L12.6109986,18.4150692 C12.6109986,19.7050808 12.8750915,20.6725749 13.4032852,21.3175807 C13.9314789,21.9625865 14.7593086,22.2850846 15.886799,22.2850846 C17.3901196,22.2850846 18.4947389,21.8356188 19.2006901,20.9366737 C19.9066413,20.0377286 20.2596117,18.5318912 20.2596117,16.4191164 L20.2596117,8.02392554 L23.855374,8.02392554 L23.855374,24.8752523 L21.036662,24.8752523 Z"></path>
                                        <path class="g-fill-white" d="M44.4764678,24.4705882 L40.8807055,24.4705882 L40.8807055,14.1099172 C40.8807055,12.809748 40.6191519,11.8397145 40.096037,11.1997875 C39.5729221,10.5598605 38.7425531,10.2399018 37.6049051,10.2399018 C36.0914269,10.2399018 34.9842682,10.6868282 34.2833958,11.5806945 C33.5825234,12.4745608 33.2320924,13.9727801 33.2320924,16.0753974 L33.2320924,24.4705882 L29.6515664,24.4705882 L29.6515664,7.61926145 L32.4550421,7.61926145 L32.9578394,9.8285222 L33.1406747,9.8285222 C33.6485533,9.02607405 34.3697301,8.40647149 35.3042266,7.96969592 C36.2387232,7.53292034 37.27478,7.31453583 38.412428,7.31453583 C42.4551414,7.31453583 44.4764678,9.3714132 44.4764678,13.4852296 L44.4764678,24.4705882 Z M53.7357283,24.4705882 L50.1552023,24.4705882 L50.1552023,7.61926145 L53.7357283,7.61926145 L53.7357283,24.4705882 Z M49.9418944,3.15503112 C49.9418944,2.51510412 50.1171098,2.0224693 50.467546,1.67711187 C50.8179823,1.33175444 51.3182351,1.15907831 51.9683197,1.15907831 C52.5980892,1.15907831 53.0881846,1.33175444 53.4386208,1.67711187 C53.7890571,2.0224693 53.9642725,2.51510412 53.9642725,3.15503112 C53.9642725,3.76448541 53.7890571,4.24442346 53.4386208,4.59485968 C53.0881846,4.94529589 52.5980892,5.12051137 51.9683197,5.12051137 C51.3182351,5.12051137 50.8179823,4.94529589 50.467546,4.59485968 C50.1171098,4.24442346 49.9418944,3.76448541 49.9418944,3.15503112 Z M68.0077253,10.3313195 L63.8939294,10.3313195 L63.8939294,24.4705882 L60.2981671,24.4705882 L60.2981671,10.3313195 L57.525164,10.3313195 L57.525164,8.65532856 L60.2981671,7.55831633 L60.2981671,6.4613041 C60.2981671,4.47042009 60.7654084,2.99505497 61.699905,2.03516447 C62.6344015,1.07527397 64.0615189,0.595335915 65.9812999,0.595335915 C67.2408388,0.595335915 68.4800439,0.803563007 69.6989525,1.22002344 L68.7543031,3.93208145 C67.8705943,3.64766945 67.0275286,3.50546559 66.2250804,3.50546559 C65.4124747,3.50546559 64.820805,3.75686171 64.4500537,4.25966149 C64.0793023,4.76246128 63.8939294,5.51664965 63.8939294,6.52224922 L63.8939294,7.61926145 L68.0077253,7.61926145 L68.0077253,10.3313195 Z M69.0089215,7.61926145 L72.9094094,7.61926145 L76.3375727,17.1724096 C76.8556088,18.5335242 77.2009611,19.813359 77.3736398,21.0119524 L77.49553,21.0119524 C77.5869482,20.453286 77.7545456,19.7752783 77.9983273,18.9779089 C78.242109,18.1805396 79.5321012,14.3943616 81.8683427,7.61926145 L85.738358,7.61926145 L78.5315971,26.7103215 C77.2212704,30.2146837 75.0374253,31.9668385 71.9799963,31.9668385 C71.1877057,31.9668385 70.4157419,31.8805004 69.6640816,31.7078217 L69.6640816,28.8738734 C70.2024329,28.9957643 70.8169567,29.0567088 71.5076716,29.0567088 C73.2344587,29.0567088 74.4482703,28.056203 75.1491427,26.0551615 L75.7738303,24.4705882 L69.0089215,7.61926145 Z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <!-- End Logo -->
                    <!-- Sidebar Toggler -->
                    <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="javascript:void(0)" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
                        <i class="hs-admin-align-left"></i>
                    </a>
                    <!-- End Sidebar Toggler -->
                </div>

                <!-- Messages/Notifications/Top Search Bar/Top User -->
                <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
                    <!-- Top User -->
                    <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                        <div class="g-pos-rel g-px-10--lg">
                            <a id="profileMenuInvoker" class="d-block g-height-30 g-height-40--md g-py-5" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                               data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                                <span class="g-pos-rel g-top-2" style="vertical-align: central">
                                    <span class="g-hidden-sm-down">Chào @((await WorkContext.GetCurrentUser()).FullName)</span>
                                    <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                                </span>
                            </a>

                            <!-- Top User Menu -->
                            <ul id="profileMenu" style="min-width: 200px;" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                                <li class="g-hidden-sm-up g-mb-10">
                                    <a class="media g-py-5 g-px-20" href="#">
                                        <span class="d-flex align-self-center g-pos-rel g-mr-12">
                                            <span class="u-badge-v1 g-top-minus-3 g-right-minus-3 g-width-18 g-height-18 g-bg-secondary g-font-size-10 g-color-white rounded-circle p-0">10</span>
                                            <i class="hs-admin-comment-alt"></i>
                                        </span>
                                        <span class="media-body align-self-center">Unread Messages</span>
                                    </a>
                                </li>
                                <li class="g-hidden-sm-up g-mb-10">
                                    <a class="media g-py-5 g-px-20" href="#">
                                        <span class="d-flex align-self-center g-mr-12">
                                            <i class="hs-admin-bell"></i>
                                        </span>
                                        <span class="media-body align-self-center">Notifications</span>
                                    </a>
                                </li>
                                <li class="g-mb-10">
                                    <a class="media g-color-primary--hover g-py-5 g-px-20" asp-area="Core" asp-controller="Manage" asp-action="Index">
                                        <span class="d-flex align-self-center g-mr-12">
                                            <i class="hs-admin-user"></i>
                                        </span>
                                        <span class="media-body align-self-center">Tài khoản</span>
                                    </a>
                                </li>
                                <li class="mb-0">
                                    <form asp-area="Core" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
                                        <button type="submit" class="media g-color-primary--hover g-py-5 g-px-20" style="background-color: Transparent; border: none; outline: none; cursor: pointer;">
                                            <span class="d-flex align-self-center g-mr-12">
                                                <i class="hs-admin-shift-right"></i>
                                            </span>
                                            <span id="textSignoutAdmin" class="media-body align-self-center">Đăng xuất</span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                            <!-- End Top User Menu -->
                        </div>
                    </div>
                    <!-- End Top User -->
                </div>
                <!-- End Messages/Notifications/Top Search Bar/Top User -->
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <main class="container-fluid px-0 g-pt-65">
        <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
            <!-- Sidebar Nav -->
            <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--dark">
                <div class="js-custom-scroll u-sidebar-navigation-v1-inner">
                    <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
                        <!-- Dashboards -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--top-level-menu-item has-active">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="/admin#!/dashboard">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="hs-admin-pie-chart"></i>
                                </span>
                                <span class="media-body align-self-center">Thống kê</span>
                            </a>
                        </li>
                        <!-- End Dashboards -->
                        <!-- Common -->
                        @if (User.IsInRole("admin"))
                        {
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                                <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#commonSubMenu">
                                    <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                        <i class="hs-admin-view-list-alt"></i>
                                    </span>
                                    <span class="media-body align-self-center">Quản lý chung</span>
                                    <span class="d-flex align-self-center u-side-nav--control-icon">
                                        <i class="hs-admin-angle-right"></i>
                                    </span>
                                    <span class="u-side-nav--has-sub-menu__indicator"></span>
                                </a>
                                <ul id="commonSubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="users">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Người dùng</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="vendors">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="hs-admin-user"></i>
                                            </span>
                                            <span class="media-body align-self-center">Nhà cung cấp</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="customergroups">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Nhóm khách hàng</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="reviews">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Reviews</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="review-replies">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Phản hồi reviews</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="comments">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Bình luận</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="contact-area">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-address-book" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Vùng liên hệ</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="contact">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Quản lý liên hệ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <!-- End Common -->
                        <!-- Category -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#categorySubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Danh mục</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="categorySubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cube" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Sản phẩm</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product-prices">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Giá</span>
                                    </a>
                                </li>
                                @if (User.IsInRole("admin"))
                                {
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="category">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-cubes" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Danh mục sản phẩm</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="brand">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-amazon" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Nhãn hiệu</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product-option">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="hs-admin-archive"></i>
                                            </span>
                                            <span class="media-body align-self-center">Tủy chọn sản phẩm</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product-attribute-group">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-columns" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Nhóm thuộc tính</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product-attribute">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-table" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Thuộc tính sản phẩm</span>
                                        </a>
                                    </li>
                                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="product-template">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="fa fa-clone" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Mẫu sản phẩm</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <!-- End Category -->
                        <!-- Sales -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#salesSubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-sellsy" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Bán hàng</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="salesSubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="order">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Đơn hàng</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="shipments">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Vận chuyển</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Sales -->
                        <!-- Inventory -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#inventorySubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-university" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Quản lý kho</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="inventorySubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="stocks">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cube" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Quản lý hàng trong kho</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="warehouses">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-server" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Danh sách kho</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="warehouse-manage-products">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cubes" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Quản lý sản phẩm trong kho</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Inventory -->
                        <!-- Promotions -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#promotionsSubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Khuyến mại</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="promotionsSubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="cart-rules">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Theo giá giỏ hàng</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="cart-rule-usages">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Áp dụng khuyến mại</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Promotions -->
                        <!-- Content -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#contentSubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Nội dung</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="contentSubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="page">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Trang</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="menus">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Menus</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="widget">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Widgets</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="news-categories">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cubes" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Danh mục bài viết</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="news-items">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cubes" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Bài viết</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- End Content -->
                        <!-- System -->
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="javascript:void(0)" data-hssm-target="#systemSubMenu">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </span>
                                <span class="media-body align-self-center">Cài đặt hệ thống</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <ul id="systemSubMenu" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                @*<li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="themes">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                                <i class="hs-admin-infinite"></i>
                                            </span>
                                            <span class="media-body align-self-center">Giao diện</span>
                                        </a>
                                    </li>*@
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="countries">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-language" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Quốc gia</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="states-provinces">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Tỉnh</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="tax-classes">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-blackboard"></i>
                                        </span>
                                        <span class="media-body align-self-center">Loại thuế</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="tax-rates">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-blackboard"></i>
                                        </span>
                                        <span class="media-body align-self-center">Tỉ lệ thuế</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="shipping-providers">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-truck" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Phương thức vận chuyển</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="payment-providers">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Phương thức thanh toán</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="configuration">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="fa fa-cogs" aria-hidden="true"></i>
                                        </span>
                                        <span class="media-body align-self-center">Cài đặt</span>
                                    </a>
                                </li>
                                @*<li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                        <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" ui-sref="localization">
                                            <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                               <i class="fa fa-language" aria-hidden="true"></i>
                                            </span>
                                            <span class="media-body align-self-center">Dịch</span>
                                        </a>
                                    </li>*@
                            </ul>
                        </li>
                        <!-- End System -->
                    </ul>
                </div>
            </div>
            <!-- End Sidebar Nav -->
            <!-- Content -->
            <div class="col g-ml-45 g-ml-3--md">
                <div ui-view></div>
            </div>
            <!-- End Content -->
        </div>
    </main>

    <!-- JS Global Compulsory -->
    <script src="~/assets/vendor/popper.js/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/vendor/cookiejs/jquery.cookie.js"></script>

    <!-- jQuery UI Core -->
    <script src="~/assets/vendor/jquery-ui/ui/widget.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/version.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/keycode.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/position.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/unique-id.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/safe-active-element.js"></script>

    <!-- jQuery UI Helpers -->
    <script src="~/assets/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script src="~/assets/vendor/jquery-ui/ui/widgets/mouse.js"></script>

    <!-- jQuery UI Widgets -->
    <script src="~/assets/vendor/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- JS Plugins Init. -->
    <script src="~/assets/vendor/appear.js"></script>
    <script src="~/admin-assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/admin-assets/vendor/flatpickr/dist/js/flatpickr.min.js"></script>
    <script src="~/assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/admin-assets/vendor/chartist-js/chartist.min.js"></script>
    <script src="~/admin-assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.js"></script>
    <script src="~/admin-assets/vendor/fancybox/jquery.fancybox.min.js"></script>

    <!-- JS Unify -->
    <script src="~/assets/js/hs.core.js"></script>
    <script src="~/admin-assets/js/components/hs.side-nav.js"></script>
    <script src="~/assets/js/helpers/hs.hamburgers.js"></script>

    <script src="~/assets/js/components/hs.datepicker.js"></script>
    <script src="~/assets/js/components/hs.dropdown.js"></script>
    <script src="~/assets/js/components/hs.scrollbar.js"></script>
    <script src="~/admin-assets/js/components/hs.area-chart.js"></script>
    <script src="~/admin-assets/js/components/hs.donut-chart.js"></script>
    <script src="~/admin-assets/js/components/hs.bar-chart.js"></script>
    <script src="~/assets/js/helpers/hs.focus-state.js"></script>
    <script src="~/admin-assets/js/components/hs.popup.js"></script>
    <script src="~/admin-assets/js/components/hs.range-datepicker.js"></script>

    <!-- JS Custom -->
    <script src="~/assets/js/custom.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).ready(function () {
            $('.js-select').selectpicker();
            $('.js-select').on('shown.bs.select', function (e) {
                $(this).addClass('opened');
            });

            $('.js-select').on('hidden.bs.select', function (e) {
                $(this).removeClass('opened');
            });
            // initialization of hamburger
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of charts
            $.HSCore.components.HSAreaChart.init('.js-area-chart');
            $.HSCore.components.HSDonutChart.init('.js-donut-chart');
            $.HSCore.components.HSBarChart.init('.js-bar-chart');

            // initialization of sidebar navigation component
            $.HSCore.components.HSSideNav.init('.js-side-nav', {
                afterOpen: function () {
                    setTimeout(function () {
                        $.HSCore.components.HSAreaChart.init('.js-area-chart');
                        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                        $.HSCore.components.HSBarChart.init('.js-bar-chart');
                    }, 400);
                },
                afterClose: function () {
                    setTimeout(function () {
                        $.HSCore.components.HSAreaChart.init('.js-area-chart');
                        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                        $.HSCore.components.HSBarChart.init('.js-bar-chart');
                    }, 400);
                }
            });

            // initialization of datepicker
            $.HSCore.components.HSDatepicker.init('#datepicker', {
                dayNamesMin: [
                    'SU',
                    'MO',
                    'TU',
                    'WE',
                    'TH',
                    'FR',
                    'SA'
                ]
            });

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), { dropdownHideOnScroll: false });

            // initialization of custom scrollbar
            $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox', {
                btnTpl: {
                    smallBtn: '<button data-fancybox-close class="btn g-pos-abs g-top-25 g-right-30 g-line-height-1 g-bg-transparent g-font-size-16 g-color-gray-light-v3 g-brd-none p-0" title=""><i class="hs-admin-close"></i></button>'
                }
            });
        });
    </script>
</body>
</html>
