<div class="card rounded-0">
    <div class="row card-header g-brd-transparent rounded-0 mb-0 mx-0">
        <div class="col-8 px-0">
            <h3 class="table-title">
                Danh sách sản phẩm ({{vm.tableStateRef.pagination.totalItemCount | number:0}})
            </h3>
        </div>
        <div class="col-4 px-0 text-right">
            <a ui-sref="product-create" title="Thêm" class="btn btn-md u-btn-pink px-1 pt-0 pb-0"><i class="hs-admin-plus"></i></a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover u-table--v1 mb-0" st-pipe="vm.getProducts" st-table="vm.products">
            <thead>
                <tr>
                    <th style="min-width:200px" class="sortable" st-sort="Name">Tên sản phẩm</th>
                    <th style="min-width:100px" class="text-center">Có lựa chọn</th>
                    <th style="min-width:110px" class="text-center">Hiện độc lập</th>
                    <th style="min-width:110px" class="text-center">Khuyến nghị</th>
                    <th style="min-width:95px" class="text-center">Đặt hàng</th>
                    <th style="min-width:95px" class="text-center">Giá liên hệ</th>
                    <th style="min-width:75px" class="text-center">Còn lại</th>
                    <th style="min-width:110px" st-sort="IsPublished" class="text-center sortable">Hiển thị</th>
                    <th style="min-width:100px" st-sort="CreatedOn" class="text-center sortable">Ngày tạo</th>
                    <th class="text-center" style="min-width: 85px; max-width: 80px">Tùy chọn</th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <input class="form-control" placeholder="Tìm theo tên sản phẩm" st-search="Name" />
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <select class="form-control" st-search="HasOptions">
                                <option value="">Tất cả</option>
                                <option value="true">Có</option>
                                <option value="false">Không</option>
                            </select>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <select class="form-control" st-search="IsVisibleIndividually">
                                <option value="">Tất cả</option>
                                <option value="true">Có</option>
                                <option value="false">Không</option>
                            </select>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="form-group">
                            <select class="form-control" st-search="IsPublished">
                                <option value="">Tất cả</option>
                                <option value="true">Có</option>
                                <option value="false">Không</option>
                            </select>
                        </div>
                    </th>
                    <th> <!--<st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range>--> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in vm.products">
                    <td class="text-left" style="min-width: 200px;">{{product.name}}</td>
                    <td style="min-width: 100px;" class="text-center"> <i ng-attr-class="{{product.hasOptions && 'hs-admin-check' || ''}}"></i> </td>
                    <td style="min-width: 100px;" class="text-center"> <i ng-attr-class="{{product.isVisibleIndividually && 'hs-admin-check' || 'hs-admin-check-o'}}"></i> </td>
                    <td class="text-center"> <i ng-attr-class="{{product.isFeatured && 'hs-admin-check' || 'hs-admin-check-o'}}"></i> </td>
                    <td class="text-center"> <i ng-attr-class="{{product.isAllowToOrder && 'hs-admin-check' || 'hs-admin-check-o'}}"></i> </td>
                    <td class="text-center"> <i ng-attr-class="{{product.isCallForPricing && 'hs-admin-check' || 'hs-admin-check-o'}}"></i> </td>
                    <td class="text-right">{{product.stockQuantity}}</td>
                    <td class="text-center"> <i ng-attr-class="{{product.isPublished && 'hs-admin-check' || 'hs-admin-check-o'}}"></i> </td>
                    <td class="text-center"> {{product.createdOn | date:'dd/MM/yyyy' }} </td>
                    <td style="min-width: 100px;" class="text-center">
                        <a ng-click="vm.changeStatus(product)" class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover" title="{{product.isPublished && 'Ẩn' || 'Hiện'}}">
                            <i ng-attr-class="{{product.isPublished && 'hs-admin-control-stop' || 'hs-admin-control-play'}}"></i>
                        </a>
                        <a class="js-edit u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-ml-10" ui-sref="product-edit({id: product.id})" title="Sửa"> <i class="hs-admin-pencil"></i> </a>
                        <a class="u-link-v5 g-color-gray-light-v6 g-color-secondary--hover g-text-underline--none--hover g-ml-10" title="Xóa" ng-click="vm.deleteProduct(product)"> <i class="hs-admin-trash"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
