<div class="panel panel-default">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h2 ng-if="!vm.isEditMode" class="table-title">Thêm sản phẩm</h2>
                <h2 ng-if="vm.isEditMode" class="table-title">Cập nhật thông tin sản phẩm {{vm.product.name}}</h2>
            </div>
            <div class="col-md-4 text-right">
                <a ng-if="vm.isEditMode" ui-sref="product-clone({id: vm.product.id})" class="btn btn-primary">Thêm sản phẩm tương tự</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form name="productForm" class="form-horizontal">
            <div class="col-sm-offset-2 bg-danger" ng-show="vm.validationErrors">
                <ul>
                    <li ng-repeat="error in vm.validationErrors">{{error}}</li>
                </ul>
            </div>
            <uib-tabset>
                <uib-tab index="0" heading="Thông tin chung">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tên sản phẩm</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="vm.product.name" ng-change="vm.updateSlug()" required class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Đường dẫn</label>
                        <div class="col-sm-10">
                            <input name="slug" ng-model="vm.product.slug" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nhãn hiệu</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.product.brandId" ng-options="brand.id as brand.name for brand in vm.brands"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô tả ngắn</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.shortDescUpload(files)" editor="vm.shortDescEditor" ng-model="vm.product.shortDescription"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô tả</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.descUpload(files)" editor="vm.descEditor" ng-model="vm.product.description"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thông số</label>
                        <div class="col-sm-10">
                            <summernote on-image-upload="vm.specUpload(files)" editor="vm.specEditor" ng-model="vm.product.specification"></summernote>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SKU</label>
                        <div class="col-sm-10">
                            <input name="sku" ng-model="vm.product.sku" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">GTIN</label>
                        <div class="col-sm-10">
                            <input name="gtin" ng-model="vm.product.gtin" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productPrice" type="text" decimal maxlength="10" name="price" ng-model="vm.product.price" required class="form-control" />
                                <!--<label for="productPrice" class="form-control">{{vm.product.price | number}}</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá cũ</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productOldPrice" type="text" decimal maxlength="10" name="oldPrice" ng-model="vm.product.oldPrice" class="form-control" />
                                <!--<label class="form-control" for="productOldPrice">{{vm.product.oldPrice | number}}</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá đặc biệt</label>
                        <div class="col-sm-10">
                            <div class="input-number">
                                <input id="productSpecialPrice" type="text" decimal maxlength="10" name="specialPrice" ng-model="vm.product.specialPrice" class="form-control" />
                                <!--<label class="form-control" for="productSpecialPrice">{{vm.product.specialPrice | number}}</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá bắt đầu</label>
                        <div class="col-sm-10">
                            <p class="input-group simpl-datetime-picker">
                                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.product.specialPriceStart" is-open="vm.datePickerSpecialPriceStart.open" datepicker-options="vm.datePickerSpecialPriceStart.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerSpecialPriceStart')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Giá kết thúc</label>
                        <div class="col-sm-10">
                            <p class="input-group simpl-datetime-picker">
                                <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="vm.product.specialPriceEnd" is-open="vm.datePickerSpecialPriceEnd.open" datepicker-options="vm.datePickerSpecialPriceEnd.datepickerOptions" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar($event, 'datePickerSpecialPriceEnd')"><i class="fa fa-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.stockTrackingIsEnabled">Bật theo dõi kho
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Loại thuế</label>
                        <div class="col-sm-10">
                            <select class="form-control" ng-model="vm.product.taxClassId" ng-options="taxClass.id as taxClass.name for taxClass in vm.taxClasses"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hình đại diện</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.thumbnailImage" name="thumbnailImage" ngf-accept="'image/*'">
                            <img ngf-src="vm.thumbnailImage" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            <img ng-show="!vm.thumbnailImage && vm.product.thumbnailImageUrl" ng-src="{{vm.product.thumbnailImageUrl}}" style="width: 100px; height: 100px" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Các hình khác của sản phẩm</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productImages" ngf-multiple="true" name="productImages" ngf-accept="'image/*'">
                            <span class="product-image-edit" ng-repeat="image in vm.product.productImages">
                                <img ng-src="{{image.mediaUrl}}" style="width: 100px; height: 100px" />
                                <button type="button" ng-click="vm.removeImage(image)" class="btn btn-link" aria-label="Remove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                            <span class="product-image-edit" ng-repeat="image in vm.productImages">
                                <img ngf-src="image" ngf-resize="{width: 100, height: 100, quality: 0.9}">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tài liệu về sản phẩm</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" ngf-select ng-model="vm.productDocuments" ngf-multiple="true" name="productDocuments" ngf-accept="'.pdf,.doc'">
                            <span class="product-file-edit" ng-repeat="doc in vm.product.productDocuments">
                                <a target="_blank" href="{{doc.mediaUrl}}">{{doc.caption}}</a>
                                <button type="button" ng-click="vm.removeDocument(doc)" class="btn btn-link" aria-label="Remove">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </span>
                            <span class="product-file-edit" ng-repeat="file in vm.productDocuments">
                                <span>{{file.name}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.isFeatured">Khuyến nghị
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.isPublished">Hiển thị
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.isCallForPricing">Giá liên hệ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.product.isAllowToOrder">Cho phép đặt hàng
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Những tùy chọn sản phẩm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tùy chọn khả dụng</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.addingOption" ng-options="opt as opt.name for opt in vm.options"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.addingOption" ng-click="vm.addOption()">Thêm tùy chọn</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="vm.product.options.length > 0">
                        <label class="col-sm-2 control-label">Giá trị của tùy chọn</label>
                    </div>
                    <div class="form-group" ng-show="vm.product.options.length > 0">
                        <div class="col-sm-offset-1 col-sm-11">
                            <div class="form-group" ng-repeat="option in vm.product.options">
                                <label class="col-sm-1 control-label">{{option.name}}</label>
                                <div class="col-sm-11">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <md-chips ng-model="option.values"
                                                      md-transform-chip="vm.newOptionValue($chip)"
                                                      placeholder="Nhập một {{option.name}}"
                                                      delete-button-label="Xóa {{option.name}}"
                                                      delete-hint="Chọn để xóa {{option.name}}"
                                                      secondary-placeholder="+{{option.name}}">
                                                <md-chip-template>
                                                    <span>
                                                        {{$chip.key}}
                                                    </span>
                                                </md-chip-template>
                                            </md-chips>
                                        </div>
                                        <product-option-display-directive model-id="option_{{option.id}}" title="Configure Display" option="option"></product-option-display-directive>
                                        <button class="btn btn-default" data-toggle="modal" data-target="#option_{{option.id}}">Cài đặt hiển thị</button>
                                        <button class="btn btn-default" ng-click="vm.deleteOption(option)">Xóa tùy chọn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!vm.isEditMode" ng-show="vm.product.options.length > 0">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" ng-click="vm.generateOptionCombination()">Kết hợp các tùy chọn</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Các dạng của sản phẩm</label>
                        <div class="col-sm-10">
                            <table class="table table-striped">
                                <tr>
                                    <th class="col-md-2">Tùy chọn kết hợp</th>
                                    <th class="col-md-1">SKU</th>
                                    <th class="col-md-1">GTIN</th>
                                    <th class="col-md-1">Giá</th>
                                    <th class="col-md-1">Giá cũ</th>
                                    <th class="col-md-2">Ảnh đại diện</th>
                                    <th class="col-md-3">Hình ảnh</th>
                                    <th class="col-md-1"></th>
                                </tr>
                                <tr ng-repeat="variation in vm.product.variations">
                                    <td>{{variation.name}}</td>
                                    <td>
                                        <input id="{{variation.normalizedName}}Sku" type="text" maxlength="100" class="form-control" ng-model="variation.sku" />
                                    </td>
                                    <td>
                                        <input id="{{variation.normalizedName}}Gtin" type="text" maxlength="100" class="form-control" ng-model="variation.gtin" />
                                    </td>
                                    <td>
                                        <div class="input-number">
                                            <input id="{{variation.normalizedName}}Price" type="text" decimal maxlength="10" required class="form-control" ng-model="variation.price" />
                                            <label for="{{variation.normalizedName}}Price" class="form-control">{{variation.price | number}}</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-number">
                                            <input id="{{variation.normalizedName}}OldPrice" type="text" decimal maxlength="10" class="form-control" ng-model="variation.oldPrice" />
                                            <label for="{{variation.normalizedName}}OldPrice" class="form-control">{{variation.oldPrice | number}}</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control" type="file" ngf-select ng-model="variation.newThumbnailImage" name="variationThumbnailImage" ngf-accept="'image/*'">
                                        <img ngf-src="variation.newThumbnailImage" ngf-resize="{width:50, height: 50, quality: 0.9}">
                                        <img ng-show="!variation.newThumbnailImage && variation.thumbnailImageUrl" ng-src="{{variation.thumbnailImageUrl}}" style="width: 50px; height: 50px" />
                                    </td>
                                    <td>
                                        <input class="form-control" type="file" ngf-select ng-model="variation.newImages" ngf-multiple="true" name="variationImages" ngf-accept="'image/*'">
                                        <span class="product-image-edit" ng-repeat="image in variation.imageUrls">
                                            <img ng-src="{{image}}" style="width: 50px; height: 50px" />
                                        </span>
                                        <span ng-repeat="image in variation.newImages">
                                            <img ngf-src="image" ngf-resize="{width: 50, height: 50, quality: 0.9}">
                                        </span>
                                    </td>
                                    <td>
                                        <button ng-click="vm.deleteVariation(variation)" type="button" class="btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-show="vm.product.options.length > 0">
                                    <td class="variation-form" colspan="8">
                                        <ng-form name="addingVariationForm">
                                            <table class="table">
                                                <tr>
                                                    <td class="col-md-2">
                                                        <div ng-repeat="option in vm.product.options">
                                                            <div>
                                                                <select class="form-control" ng-model="vm.addingVariation[option.name]"
                                                                        ng-options="value.key as value.key for value in option.values | filter: vm.filterAddedOptionValue"></select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-1">
                                                        <input id="addingVariationSku" type="text" maxlength="100" class="form-control" ng-model="vm.addingVariation.sku" />
                                                    </td>
                                                    <td class="col-md-1">
                                                        <input id="addingVariationGtin" type="text" maxlength="100" class="form-control" ng-model="vm.addingVariation.gtin" />
                                                    </td>
                                                    <td class="col-md-1">
                                                        <div class="input-number">
                                                            <input id="addingVariationPrice" type="text" decimal maxlength="10" class="form-control" ng-model="vm.addingVariation.price" />
                                                            <label for="addingVariationPrice" class="form-control">{{vm.addingVariation.price | number}}</label>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-1">
                                                        <div class="input-number">
                                                            <input id="addingVariationOldPrice" type="text" decimal maxlength="10" class="form-control" ng-model="vm.addingVariation.oldPrice" />
                                                            <label for="addingVariationOldPrice" class="form-control">{{vm.addingVariation.oldPrice | number}}</label>
                                                        </div>
                                                    </td>
                                                    <td class="col-md-2"></td>
                                                    <td class="col-md-3"></td>
                                                    <td class="col-md-1"><button type="button" class="btn btn-primary" ng-disabled="!vm.isAddVariationFormValid()" ng-click="vm.addVariation()"><span class="glyphicon glyphicon-plus"></span></button></td>
                                                </tr>
                                            </table>
                                        </ng-form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Thuộc tính sản phẩm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mẫu sản phẩm</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.product.template" ng-options="template as template.name for template in vm.productTemplates"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.product.template" ng-click="vm.applyTemplate()">Áp dụng</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Thuộc tính khả dụng</label>
                        <div class="col-sm-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="vm.addingAttribute" ng-options="attr as attr.name group by attr.groupName for attr in vm.attributes"></select>
                                </div>
                                <button class="btn btn-default" ng-disabled="!vm.addingAttribute" ng-click="vm.addAttribute()">Thêm thuộc tính</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Danh sách thuộc tính của sản phẩm</label>
                        <div class="col-sm-10">
                            <table class="table table-striped">
                                <tr>
                                    <th>Tên thuộc tính</th>
                                    <th>Giá trị</th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="attr in vm.product.attributes">
                                    <td>{{attr.name}}</td>
                                    <td><input type="text" class="form-control" ng-model="attr.value" /></td>
                                    <td>
                                        <button ng-click="vm.deleteAttribute(attr)" type="button" class="btn">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Danh mục">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <div ng-repeat="category in vm.categories">
                                <md-checkbox ng-checked="vm.product.categoryIds.indexOf(category.id) > -1" ng-click="vm.toggleCategories(category.id)">
                                    {{ category.name }}
                                </md-checkbox>
                            </div>
                        </md-input-container>
                    </md-content>
                </uib-tab>
                <uib-tab index="4" heading="Sản phẩm liên quan">
                    <product-selection-directive model-id="productRelationSelector" title="Thêm sản phẩm liên quan" is-visible-individually="true" selected-products="vm.product.relatedProducts"></product-selection-directive>
                    <p><button type="button" class="btn btn-default mb-3" data-toggle="modal" data-target="#productRelationSelector">Quản lý sản phẩm liên quan</button></p>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th class="text-center">Hiển thị</th>
                        </tr>
                        <tr ng-repeat="product in vm.product.relatedProducts">
                            <td>{{product.name}}</td>
                            <td class="text-center"><i ng-attr-class="{{product.isPublished && 'hs-admin-check' || 'hs-admin-check-o'}}"></i></td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="5" heading="Sản phẩm đi kèm">
                    <product-selection-directive model-id="productCrossSellSelector" title="Thêm sản phẩm đi kèm" is-visible-individually="true" selected-products="vm.product.crossSellProducts"></product-selection-directive>
                    <p><button type="button" class="btn btn-default mb-3" data-toggle="modal" data-target="#productCrossSellSelector">Sản phẩm đi kèm</button></p>
                    <table class="table table-striped">
                        <tr>
                            <th>Tên</th>
                            <th class="text-center">Hiển thị</th>
                        </tr>
                        <tr ng-repeat="product in vm.product.crossSellProducts">
                            <td>{{product.name}}</td>
                            <td class="text-center"><i ng-attr-class="{{product.isPublished && 'hs-admin-check' || 'hs-admin-check-o'}}"></i></td>
                        </tr>
                    </table>
                </uib-tab>
                <uib-tab index="6" heading="SEO">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tiêu đề</label>
                        <div class="col-sm-10">
                            <input name="metaTitle" ng-model="vm.product.metaTitle" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Từ khóa</label>
                        <div class="col-sm-10">
                            <textarea name="metaKeywords" ng-model="vm.product.metaKeywords" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Mô tả</label>
                        <div class="col-sm-10">
                            <textarea name="metaDescription" ng-model="vm.product.metaDescription" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary" ng-disabled="productForm.$invalid" ng-click="vm.save()">Lưu lại</button>
                    <button ui-sref="product" class="btn btn-default">Hủy bỏ</button>
                </div>
            </div>
        </form>
    </div>
</div>
